<html>
<head>
<script src="scripts/jquery-3.3.1.js"></script>
<script src="scripts/remote-controller.js"></script>
</head>
<body>

<form name="update">
  <input type="text" name="test_val" value="default">
  <input type="submit" name="update" value="Update">
</form>

</body>
</html>
